<ion-content [fullscreen]="true">
  <swiper-container [pagination]="true" [mousewheelControl]="true">

    <swiper-slide>
      <header>
        <h1>Bienvenido a la app de Boleteria</h1>
      </header>
      <h2>Aqui encontraras todo lo referente a boletos</h2>
      <img src="../../assets/Intro/Intro1.jpeg" width="400" height="400" alt="Welcome"  >
      <p>Desliza para continuar</p>
    </swiper-slide>

    <swiper-slide>
      <h1>Próximos Eventos</h1>
      <h2>Descubre emocionantes eventos y actividades</h2>
      <img src="../../assets/Intro/Intro2.png" width="400" height="400"  alt="Eventos">
      <p>Desliza para continuar</p>
    </swiper-slide>

    <swiper-slide>
      <h1>¡Ofertas Especiales!</h1>
      <h2>Aprovecha nuestras promociones exclusivas.</h2>
      <img src="../../assets/Intro/Intro3.jpg" width="400" height="400" alt="Oferta especial" >
      <p>Desliza para continuar</p>
    </swiper-slide>

    <swiper-slide>
      <h1>Descubre Nuestras Funcionalidades</h1>
      <h2>Compra boletos fácilmente con nuestra aplicación.</h2>
      <img src="../../assets/Intro/Intro4.png" width="300" height="400" alt="Funcionalidades">
      <p>Desliza para continuar</p>
    </swiper-slide>
    
    <swiper-slide>
      <header>
        <h1>¡Listo para comenzar!</h1>
      </header>
      <img src="../../assets/Intro/Intro5.jpeg" width="400" height="400" alt="Bienvenido a la app">
      <h2>Ahora puedes comenzar a disfrutar de eventos
        emocionantes y comprar tus boletos favoritos.</h2>
      <ion-button (click)="goToHome()">Comenzar</ion-button>
    </swiper-slide>

  </swiper-container>

</ion-content>