/* Estilos generales */
ion-content {
    --background: #000000; /* Color de fondo */
  }
  
  swiper-container {
    width: 100%;
    height: 100%;
  }
  
  swiper-slide h1 {
    font-family: monospace;
    font-size: 24px; /* Tamaño de fuente */
    color: #ffffff; /* Color del texto */
    margin-bottom: 10px; /* Espaciado en la parte inferior */
  }
  
  swiper-slide h2 {
    font-size: 18px; /* Tamaño de fuente */
    color: #ffffff; /* Color del texto */
    margin-bottom: 8px; /* Espaciado en la parte inferior */
  }
  
  swiper-slide img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Bordes redondeados para la imagen */
    margin-bottom: 20px; /* Espaciado en la parte inferior de la imagen */
  }
  
  swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  
  /* Estilos específicos para el primer slide */
  swiper-slide:nth-child(1) {
    background-color: #3498db; /* Color de fondo del primer slide */
    color: #fff; /* Color del texto en el primer slide */
    
  }
  
  swiper-slide:nth-child(2) {
    background-color: #2bc225; /* Color de fondo del primer slide */
    color: #fff; /* Color del texto en el primer slide */
  }
  
  swiper-slide:nth-child(3) {
    background-color: #970d79; /* Color de fondo del primer slide */
    color: #fff; /* Color del texto en el primer slide */
  }
  
  swiper-slide:nth-child(4) {
    background-color: #a01818; /* Color de fondo del primer slide */
    color: #fff; /* Color del texto en el primer slide */
  }
  
  swiper-slide:nth-child(5) {
    background-color: #3498db; /* Color de fondo del primer slide */
    color: #fff; /* Color del texto en el primer slide */
  }
  
  swiper-slide img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Bordes redondeados para la imagen */
  }
  swiper-slide p {
    align-self: center; 
    text-align: center; 
    margin-top: auto; 
  }
  
  
  /* Estilo específico para centrar la imagen en el primer slide */
  swiper-slide:nth-child(1) img {
    margin: 0 auto; /* Centra horizontalmente la imagen */
  }
  
  /* Estilo específico para centrar la imagen en el segundo slide */
  swiper-slide:nth-child(2) img {
    margin: 0 auto; /* Centra horizontalmente la imagen */
  }
  
  /* Estilo específico para centrar la imagen en el tercer slide */
  swiper-slide:nth-child(3) img {
    margin: 0 auto; /* Centra horizontalmente la imagen */
  }
  
  /* Estilo específico para centrar la imagen en el cuarto slide */
  swiper-slide:nth-child(4) img {
    margin: 0 auto; /* Centra horizontalmente la imagen */
  }
  
  swiper-slide:last-child {
    background-color: #27ae60; /* Color de fondo para el último slide */
    color: #fff; /* Color del texto en el último slide */
  }
  
  swiper-slide:last-child img {
    max-width: 80%; /* Ajusta el ancho de la imagen según sea necesario */
    margin: 20px auto; /* Centra la imagen con espacio en la parte superior e inferior */
  }
  
  swiper-slide:last-child p {
    text-align: center; /* Centra el texto en el último slide */
  }
  