<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container [pagination]="true" [slidesPerView]="3">
    <swiper-slide *ngFor="let slide of eventList">
      <img src="{{ slide.image }}">
    </swiper-slide>
  </swiper-container>

  <ion-list>
    <ion-item *ngFor="let category of categoryList" (click)="selectCategory(category.id)">
      {{ category.name }}
    </ion-item>
  </ion-list>

  <!-- Muestra detalles de la categoría seleccionada (opcional) -->
  <div *ngIf="selectedCategoryId">
    <h2>Detalles de la categoría seleccionada:</h2>
    <ion-item>
      Categoría ID: {{ selectedCategoryId }}
    </ion-item>
    <!-- Agrega más detalles según la estructura de tu categoría -->
  </div>
</ion-content>
